<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>shop</title>
<link href="css/bootstrap.css" rel="stylesheet">

<style type="text/css">
input.ng-dirty.ng-invalid{
border: 1px solid red;
}
</style>

</head>
<body class="container" ng-app="demoApp">

	<div class="page-header">NG - validation</div>

	<div class="row">
		<div class="col-sm-6">
		
			<form name="loginForm" ng-controller="LoginController" ng-submit="doLogin()" novalidate>
			
				<div class="form-group">
					<label>Email:</label>
					<input type="email" class="form-control" ng-model="user.email" name="email" required>
					<span class="text-danger" ng-show="loginForm.email.$dirty&&loginForm.email.$error.required">Required</span>
					<span class="text-danger" ng-show="loginForm.email.$dirty&&loginForm.email.$error.email">Invalid Email</span>
				</div>
				
				<div class="form-group">
					<label>Password:</label>
					<input type="password" 
					       class="form-control" 
					       ng-model="user.pword" name="pword" required
					       ng-minlength="3"
					       ng-maxlength="6">
					<span class="text-danger" ng-show="loginForm.pword.$dirty&&loginForm.pword.$error.required">Required</span>
					<span class="text-danger" ng-show="loginForm.pword.$dirty&&loginForm.pword.$error.minlength">Too short</span>
					<span class="text-danger" ng-show="loginForm.pword.$dirty&&loginForm.pword.$error.maxlength">Too long</span>
				</div>
				
				<button class="btn btn-primary" type="submit">Sign_in</button>
				
				<hr/>
				
				is loginForm pristine: {{loginForm.$pristine}} <br/>
				is loginForm dirty:    {{loginForm.$dirty}} <br/>
				
				
				is loginForm invalid:  {{loginForm.$invalid}} <br/>
				is loginForm valid: {{loginForm.$valid}} <br/>
					
			</form>
			
			
			
		
		</div>
	</div>
	
	<script type="text/javascript" src="angular-1.4.8/angular.js"></script>

	<script type="text/javascript">
		
		var mod = angular.module('demoApp', ['sarithaMod']);
		
		
		var sarithaMod = angular.module('sarithaMod', []);
		sarithaMod.controller('LoginController', function($scope) {
			
			$scope.doLogin=function(){
				if($scope.loginForm.$invalid){
					console.log('invalid Form..');
					return;
				}
				console.log('doing login...');
			}
			
		});
		
	</script>


</body>
</html>